<!DOCTYPE html>
<html>
<head>
	<title>EagleDream Demo</title>
	<link rel="stylesheet" href="styles/style.css">
</head>
<body>			
	<div class="content-wrapper">
		{{> form }}
		{{> loader }}
		<div id="invalidModal" class="modal">
			<div class="modal-content">
				<span class="close close-fail" onclick="closefailureModal()">&times;</span>
				<div id="failure-reason">
					
				</div>
			</div>
		</div>

		<div id="sorry">
			Your screen width is not supported as is very small. Try to turn your device sideways or use a device with a wider screen
		</div>
				<!-- The Modal -->
		<div id="characterModal" class="modal">
			<div class="profile"> 
				<div class="profile-image">
					<img src="../Resources/black.jpg" alt="profile image" id="profile-img">
				</div>
			</div>
			<span class="close" onclick="closeCharacterModal()">&times;</span>
			<!-- Modal content -->
			<div class="modal-content">
				<div class="characterTable">
					<div class="group1">
						<div class="column column-first">
							<div class="column-desc">
								<span class="statsTitle">Attributes</span>
								<span class="stat">Level</span>
								<span class="stat">Health</span>
								<span class="stat">Strength</span>
								<span class="stat">Agility</span>
								<span class="stat">Inteligence</span>
								<span class="stat">Stamina</span>
							</div>

							<div class="column-val">
								<span class="stat-number" id="level" >--</span>
								<span class="stat-number" id="health" >--</span>
								<span class="stat-number 4" id="strength" >--</span>
								<span class="stat-number 3" id="agility" >--</span>
								<span class="stat-number" id="inteligent" >--</span>
								<span class="stat-number 7" id="stamina" >--</span>
							</div>
						</div>
						<div class="column column-second"> 
							<div class="column-desc">
								<span class="statsTitle">Attack</span>
								<span class="stat">Damage</span>
								<span class="stat">Speed</span>
							</div>

							<div class="column-val">
								<span class="stat-number" id="damage" >--</span>
								<span class="stat-number" id="speed" >--</span>
							</div>
						</div>
						<div class="column column-third"> 
							<div class="column-desc"> 
								<span class="statsTitle">Spell</span>
								<span class="stat">Mana</span>
							</div>
							<div class="column-val"> 
								<span class="stat-number" id="manaRegen" >--</span>
							</div>
						</div>
					</div>
					<div class="group2"> 
						<div class="column column-forth"> 
							<div class="column-desc"> 
								<span class="statsTitle">Defense</span>
								<span class="stat">Armor</span>
								<span class="stat">Dodge</span>
								<span class="stat">Parry</span>
								<span class="stat">Block</span>
							</div>
							<div class="column-val"> 
								<span class="stat-number" id="armor" >--</span>
								<span class="stat-number percent 13" id="dodge" >--</span>
								<span class="stat-number percent" id="parry" >--</span>
								<span class="stat-number percent" id="block" >--</span>
							</div>
						</div>
						<div class="column column-fifth"> 
							<div class="column-desc"> 
								<span class="statsTitle">Enhancements</span>
								<span class="stat">Crit</span>
								<span class="stat">Haste</span>
								<span class="stat">Mastery</span>
								<span class="stat">Leech</span>
								<span class="stat">Versatility</span>
							</div>

							<div class="column-val">
								<span class="stat-number percent 32" id="critical" >--</span>
								<span class="stat-number percent 36" id="haste" >--</span>
								<span class="stat-number percent 49" id="mastery" >--</span>
								<span class="stat-number percent" id="leech" >--</span>
								<span class="stat-number 40" id="versatility" >--</span>
							</div>
						</div>
					</div>
					<div class="seperator">	
					</div>
					<div class="group3"> 
						<span class="compare">Compare Stats</span>
						<div class="images-wrapper">
							<div class="row">
								<div class="image-border hover-img">
									<span class="hover-img-text"></span>
									<img src="../Resources/avatars/mike.jpg" alt="Avatar1">
								</div>
								<div class="image-border hover-img">
									<span class="hover-img-text"></span>
									<img src="../Resources/avatars/fuo.jpg" alt="Avatar2">
								</div>
							</div>
							<div class="row">
								<div class="image-border hover-img">
									<span class="hover-img-text"></span>
									<img src="../Resources/avatars/regex.jpg" alt="Avatar3">
								</div>
								<div class="image-border hover-img">
									<span class="hover-img-text"></span>
									<img src="../Resources/avatars/tweeps.jpg" alt="Avatar4">
								</div>
							</div>
							<div class="row">
								<div class="image-border hover-img">
									<span class="hover-img-text"></span>
									<img src="../Resources/avatars/lockino.jpg" alt="Avatar5">
								</div>
								<div class="image-border hover-img">
									<span class="hover-img-text"></span>
									<img src="../Resources/avatars/briefdruid.jpg" alt="Avatar5">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="itemTable" id="bar-style">

					<span class="itemTitle">My item sets</span>

					{{#each bodyParts}}
						<div class="item-row hover-item {{this}}-vis">
							<div class="hover-item-panel">
								<div class="img-wrapper">
									
									<img src="../Resources/black.jpg" class="{{this}}-icon item-image" >
								</div>
								<div class="hover-stat-wrapper">
									<span class="hover-stat"> Name: </span>
									<span class="hover-stat"> SellPrice: </span>
									<span class="hover-stat"> BuyPrice: </span>
									<span class="hover-stat"> Min Lvl: </span>
								</div>
								<div class="hover-value-wrapper">
									<span class="hover-id {{this}}" >--</span>
									<span class="hover-id {{this}}-sellPrice" >--</span>
									<span class="hover-id {{this}}-buyPrice">--</span>
									<span class="hover-id {{this}}-requiredLevel" id="hover-level">--</span>
								</div>
							</div>
							<div class="item-col">
								<span class="item-descr">{{this}}</span>
							</div>
							<div class="item-col item-col-right item-col-right-name">
								<span class="item-val {{this}}">--</span>
							</div>
							<div class="item-col item-col-right item-col-right-money">
								<span class="price {{this}}-sellPrice" >-- </span>
								<img class="coin-img" src="#">
							</div>
						</div>
  					{{/each}}
				</div>
			</div>
		</div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/logic.js"> </script>
</body>
</html>